{{!-- <header class="main-header container" id="main-header">

  <section class="row">
    {{#if @site.logo}}

      <div class="main-header__logo item">
        <a href="{{@site.url}}">
          <img src="{{@site.logo}}" alt="{{@site.title}} Logo" />
        </a>
      </div>
      <div class="main-header__text-container item">

    {{else}}

      <div class="main-header__text-container item">
        <h1 class="main-header__blog-title">
          <a href="{{@site.url}}">{{@site.title}}</a>
        </h1>

    {{/if}}

      <h3 class="main-header__blog-description item">
        {{@site.description}}
      </h3>
    </div> <!-- end main-header__text-container -->

      <nav class="item nav-container">

          {{navigation}}

      </nav>
  </section>


</header> --}}
